@page
@model quiz_backend.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.CorrectAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answer1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Answer1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answer2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Answer2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Answer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.QuizId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.QuizId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
