<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<html></html>


<body>
<!-- Header -->
  <% include ../partials/nav.ejs %>


 <!-- Adding stuff to cart  -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="wrapper">
<div class="cart-icon-top">
</div>
 
<div class="cart-icon-bottom">
</div>

 <!-- Going into the checkout page -->
 
<!-- Social Media Links -->
<div id="info">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</div>


<!-- Adding stuff to cart  -->
<div id="sidebar">
  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Cart (<span class="total-count"></span>)</button>
    <button class="clear-cart btn btn-danger">Clear Cart</button>
  </div>

<div class="add_to_cart">Add to cart</div>

<h3></h3>
<div class="checklist categories">
<ul>
</ul>
  
</div>
<h3></h3>
</div>
 
<% for (let i = 0; i < products.length; i++) {%>

   <!-- Info on different products  -->
<div class="product">
 
  <div class="make3D">
    <div class="product-front">
      <div class="shadow"></div>
      <img src="<%= products[i].Picture %>" alt="" />
      
        <!-- Getting products to add to cart  -->
        <div class="image_overlay"></div>
        <a href="#" data-name="<%= products[i].Name %>" data-price="<%= products[i].Price %>" class="add_to_cart btn btn-primary">Add to cart</a>


        <div class="stats">
          <div class="stats-container">
          <span class="product_price">$<%= products[i].Price %></span>
          <span class="product_name"><%= products[i].Name %></span>
          
          <!-- Product card  -->
          <p>Play On</p>
          <div class="product-options">
          <strong>SIZES</strong>
          <span>One Size</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<% } %>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ><a href="/checkout" style="color: white;">Checkout</a></button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

